@{
  Layout = "_Layout";
}

<h1>Xin Chào Animal Shelter</h1>
<h2>We have dragons, direwolves, and chimaeras available for adoption.</h2>

<div>
  <p><a href="/animals/new">Sacrifice an animal</a></p>
  <p>@Html.ActionLink("View Sacrifices", "Index", "Animals")</p>
  <p><a href=""></a></p>
</div>