@{
  Layout = "_Layout";
}

<h1>Xin Chào Animal Shelter</h1>
<h2>We have dragons, direwolves, and chimaeras available for adoption.</h2>

<div>
  <p><a href="">Sacrifice an animal</a></p>
  <p><a href="">View Sacrifices</a></p>
  <p><a href=""></a></p>
</div>